%h1 Orders
%table{:class=>"table"}
  %th Date
  %th Status
  %th
  - @orders.each do |order|
    %tr
      %td= order.updated_at
      %td
        = order.status
      %td{:width => "200"}
        = link_to "Track", tracking_path(order), :class=>"btn btn-success"
