%h1 Order summary
- if @order.items.count > 0
  %h2 Address
  = render "address"
  %h2 Invoice
  = render "list"  
  %table{:width => 500}
    %tr
      %td
        %p= link_to "Back", root_path(:order_id => @order.id), :class => "btn btn-danger btn-large pull-left"
      %td
        %p= link_to "Order", order_proceed_path(:order_id => @order.id), :class => "btn btn-success btn-large pull-right"
