%table{:class=>"table"}
  - @orders_ordered.each do |order|
    %tr
      %td
        -order.items_counts.each do |count|
          =count.item.name
          =count.count
          %br
      %td{:width=>"150"}   
        =link_to "Refuse", stuff_refuse_path(:order_id => order.id), :confirm => "Are you sure?", :class => "btn btn-danger"     
        =link_to "Accept", stuff_accept_path(:order_id => order.id), :class => "btn"