%table{:width => 500}
  - @orders_accepted.each do |order|
    %tr
      %td
        -order.items_counts.each do |count|
          =count.item.name
          =count.count
          %br
      %td        
        =link_to "Done", stuff_ready_path(:order_id => order.id), :class => "btn"