    - # Content
    %div{:class=>"hero-unit"}
      = yield
      
    -# other crap
    %div{:class=>"row"}
      %div{:class=>"span4"}
        %h2 The best ingredients
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
        %p
          %a{:class=>"btn"} View details &raquo;
      %div{:class=>"span4"}
        %h2 Masterchef
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
        %p
          %a{:class=>"btn"} View details &raquo;
      %div{:class=>"span4"}
        %h2 Fast delivery
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. 
        %p
          %a{:class=>"btn"} View details &raquo;